.App {
  text-align: center; 
}

.margin-horizontal {
  & + & {
    margin-left: 1rem;
  }
}

.margin-vertical {
  & + & {
    margin-top: 1rem;
  }
}

.title {
  margin-top: 5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container-end {
  display: flex;
  justify-content: flex-end;
}

.centered-input .p-inputnumber-input {
  text-align: center;
}
